#settings-list-item-container {
    width: 100%;
    height: auto;
    border: solid #414868;
    margin: 1 0;
    padding: 1;
}

#settings-list-item-label-container {
    width: 70%;
}

#settings-list-item-labels {
    width: 30%;
}

#settings-list-item-input-container {
    width: 70%;
}

#settings-list-item-buttons {
    width: 30%;
    align: right middle;
}
